<!-- app-title component con un atributo title -->
<app-title title="Control Flow" />

<!-- Sección con una cuadrícula de dos columnas en dispositivos medianos y superiores -->
<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
  <!-- Primer div con contenido condicional usando ngIf -->
  <div class="bg-white rounded shadow p-10">
    <!-- Título con el valor de la señal showContent -->
    <h2 class="text-2xl font-bold mb-5">if: {{ showContent() }}</h2>

    <!-- Botón que llama al método toggleContent al hacer clic -->
    <button
      class="p-2 bg-blue-500 rounded text-white"
      (click)="toggleContent()"
    >
      Click me!
    </button>

    <!-- Bloque condicional con @if: muestra 'Hola Mundo' si showContent es true, de lo contrario muestra '*********' -->
    @if( showContent() ) {
    <p>Hola Mundo</p>
    } @else {
    <p>*********</p>
    }
  </div>

  <!-- Segundo div con contenido condicional usando @switch -->
  <div class="bg-white rounded shadow p-10">
    <!-- Título con el valor de la señal grade -->
    <h2 class="text-3xl">{{ grade() }}</h2>

    <!-- Bloque condicional con @switch: muestra diferentes mensajes según el valor de grade -->
    @switch ( grade() ) {
      @case ('A') {
      <p>Arriba de 90</p>
      } @case ( 'B' ) {
      <p>Arriba de 80</p>
      } @default {
      <p>Reprobado</p>
      }
   }
  </div>

  <!-- Tercer div con un bucle @for que recorre la lista de frameworks -->
  <div class="bg-white rounded shadow p-10">
    <ul>
      <!-- @for: itera sobre la lista frameworks y asigna propiedades a las variables de bucle -->
      @for (framework of frameworks(); track frameworks; let i = $index, first =
      $first, last = $last, even = $even, odd = $odd, count = $count ) {
      <!-- Elemento de lista con clases condicionales basadas en las variables de bucle -->
      <li
        [class]="{
            'bg-red-100': even && !first && !last,
            'bg-purple-100': odd && !first && !last,
            'bg-blue-100': first || last,
          }"
      >
        <!-- Muestra el índice, la cuenta total y el nombre del framework -->
        {{ i + 1 }}/{{ count }} - {{ framework }}
      </li>
      }
    </ul>
  </div>

  <!-- Cuarto div con otro bucle @for que recorre la lista frameworks2 -->
  <div class="bg-white rounded shadow p-10">
    <ul>
      <!-- @for: itera sobre la lista frameworks2 y muestra cada elemento -->
      @for (framework of frameworks2(); track framework; ) {
      <li>{{ framework }}</li>
      } @empty {
      <!-- @empty: muestra un mensaje si la lista frameworks2 está vacía -->
      <li>No hay frameworks agregados</li>
      }
    </ul>
  </div>
</section>
